@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedortotal {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 85% auto;
  grid-template-areas: "header" "main" "footer"; }

.main {
  grid-area: main;
  background-image: url(../scss/assets/img/version_grande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; }

.navbar {
  padding: 0; }
  .navbar .navbar-nav .nav-link {
    padding: 1em;
    transition: all .5s;
    font-size: 1.5em; }
    .navbar .navbar-nav .nav-link:hover {
      background-color: darkgoldenrod;
      color: white; }

.imagen-total {
  -webkit-animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0; }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1; } }

.h1-index {
  font-size: 80px;
  font-family: 'Slabo 27px', serif;
  color: burlywood;
  text-align: center;
  margin-left: 600px; }

.index-p {
  height: 500px;
  width: 500px;
  text-align: center;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: bisque;
  margin-left: 900px;
  margin-top: 120px; }

.h1-empresa {
  font-size: 80px;
  font-family: 'Slabo 27px', serif;
  color: burlywood;
  text-align: center;
  margin-left: 600px;
  margin-top: 50px; }

.p-empresa {
  height: 800px;
  width: 800px;
  text-align: center;
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: bisque;
  margin-left: 750px;
  margin-top: 120px; }

.titulo-servicios {
  font-size: 80px;
  font-family: 'Slabo 27px', serif;
  color: burlywood;
  text-align: end;
  margin-right: 600px; }

.contenido-presupuestos {
  height: 100vh; }
  .contenido-presupuestos h1 {
    font-size: 95px;
    font-family: "Slabo 27px", serif;
    color: burlywood;
    text-align: right;
    padding: 40px; }

.presupuesto {
  color: bisque;
  font-size: 30px;
  width: 600px;
  height: 500px;
  font-family: "Dancing Script", cursive;
  margin-left: 700px;
  text-align: center;
  padding: 10px;
  position: relative;
  left: 10%;
  margin-top: -600px;
  line-height: 70px; }
  .presupuesto ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.contacto {
  font-size: 90px;
  text-align: right;
  color: burlywood;
  font-family: "Slabo 27px", serif;
  padding: 40px; }

.formStyle {
  height: auto;
  width: 450px;
  margin-top: -40px;
  position: absolute;
  right: 10%; }

.formulario {
  font-size: 40px;
  color: bisque;
  font-family: "Dancing Script"; }
  .formulario input {
    text-align: center;
    font-size: 20px; }

.footer {
  width: 100%;
  height: 100px;
  background: #080000;
  background: linear-gradient(90deg, #080000 0%, #fa0303 40%, #f51105 60%, #000405 100%);
  background-position: bottom;
  -webkit-animation: color-change-5x 5s linear infinite alternate both;
  animation: color-change-5x 5s linear infinite alternate both;
  grid-area: footer; }

@-webkit-keyframes color-change-5x {
  0% {
    background: #000a0b; }
  25% {
    background: #fc1c03; }
  50% {
    background: #ea2222; }
  75% {
    background: #080600; }
  100% {
    background: #020700; } }

@keyframes color-change-5x {
  0% {
    background: #fe0101; }
  25% {
    background: #fb0101; }
  50% {
    background: #090000; }
  75% {
    background: #060000; }
  100% {
    background: #d80d0d; } }

.footer-container {
  width: 500px;
  height: 80px;
  position: relative;
  left: 40%;
  top: 25%; }

.instagram-img, .facebook-img {
  width: 50px;
  height: 50px; }

.mercadolibre-img {
  width: 140px;
  height: 50px; }

@media (max-width: 1200px) {
  .contenedortotal {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 85% auto;
    grid-template-areas: "header" "main" "footer"; }
  .h1-index {
    font-size: 80px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: center;
    margin-left: 600px; }
  .index-p {
    height: 500px;
    width: 500px;
    text-align: center;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 650px; }
  .h1-empresa {
    font-size: 75px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px; }
  .p-empresa {
    height: 600px;
    width: 600px;
    text-align: center;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 550px;
    margin-top: 100px; }
  .titulo-servicios {
    font-size: 80px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: end;
    margin-right: 350px; }
  .contenido-presupuestos h1 {
    font-size: 80px;
    font-family: "Slabo 27px", serif;
    color: burlywood;
    text-align: right;
    padding: 40px; }
  .presupuesto {
    color: bisque;
    font-size: 30px;
    width: 600px;
    height: 500px;
    font-family: "Dancing Script", cursive;
    margin-left: 420px;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 10%;
    margin-top: -600px;
    line-height: 70px; }
    .presupuesto ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .contacto {
    font-size: 80px;
    text-align: center;
    color: burlywood;
    font-family: "Slabo 27px", serif;
    padding: 40px;
    margin-left: 500px; }
  .formStyle {
    height: auto;
    width: 450px;
    margin-top: -40px;
    position: absolute;
    right: 10%; }
  .formulario {
    font-size: 40px;
    color: bisque;
    font-family: "Dancing Script"; }
    .formulario input {
      text-align: center;
      font-size: 20px; } }

@media (max-width: 768px) {
  .contenedortotal {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 85% auto;
    grid-template-areas: "header" "main" "footer"; }
  .h1-index {
    font-size: 70px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: left;
    margin-left: 300px; }
  .index-p {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 300px;
    margin-top: 100px; }
  .h1-empresa {
    font-size: 60px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px; }
  .p-empresa {
    height: 600px;
    width: 600px;
    text-align: center;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 100px;
    margin-top: 100px; }
  .titulo-servicios {
    font-size: 80px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: end;
    margin-right: 200px; }
  .contenido-presupuestos h1 {
    font-size: 60px;
    font-family: "Slabo 27px", serif;
    color: burlywood;
    text-align: left;
    padding: 40px;
    margin-left: 200px; }
  .presupuesto {
    color: bisque;
    font-size: 30px;
    width: 600px;
    height: 500px;
    font-family: "Dancing Script", cursive;
    margin-left: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 10%;
    margin-top: -600px;
    line-height: 70px; }
    .presupuesto ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .contacto {
    font-size: 60px;
    text-align: left;
    color: burlywood;
    font-family: "Slabo 27px", serif;
    padding: 40px;
    margin-left: 200px; }
  .formStyle {
    height: auto;
    width: 450px;
    margin-top: -40px;
    position: absolute;
    right: 10%; }
  .formulario {
    font-size: 40px;
    color: bisque;
    font-family: "Dancing Script"; }
    .formulario input {
      text-align: center;
      font-size: 20px; } }

@media (max-width: 576px) {
  .contenedortotal {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 85% auto;
    grid-template-areas: "header" "main" "footer"; }
  .h1-index {
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: left;
    margin-left: 300px; }
  .index-p {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 100px;
    margin-top: 100px; }
  .h1-empresa {
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px; }
  .p-empresa {
    height: 500px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    color: bisque;
    margin-left: 50px;
    margin-top: 100px; }
  .titulo-servicios {
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
    color: burlywood;
    text-align: column;
    margin-right: 200px; }
  .contenido-presupuestos h1 {
    font-size: 50px;
    font-family: "Slabo 27px", serif;
    color: burlywood;
    text-align: left;
    padding: 40px;
    margin-left: 100px; }
  .presupuesto {
    color: bisque;
    font-size: 25px;
    width: 600px;
    height: 500px;
    font-family: "Dancing Script", cursive;
    margin-left: -50px;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 10%;
    margin-top: -600px;
    line-height: 70px; }
    .presupuesto ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  .contacto {
    font-size: 60px;
    text-align: left;
    color: burlywood;
    font-family: "Slabo 27px", serif;
    padding: 40px;
    margin-left: 250px; }
  .formStyle {
    height: auto;
    width: 450px;
    margin-top: -40px;
    position: absolute;
    right: 10%; }
  .formulario {
    font-size: 40px;
    color: bisque;
    font-family: "Dancing Script"; }
    .formulario input {
      text-align: center;
      font-size: 20px; } }
