.main {
    grid-area: main;
    background-image: url(../assets/img/version_grande.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}