.h1-index {
    font-size: 80px;
    font-family: 'Slabo 27px', serif;
    color: $colorH1;
    text-align: center;
    margin-left: 600px;
}

    .index-p {
    height: 500px;
    width: 500px;
    text-align: center;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    color: $colorTexto;
    margin-left: 900px;
    margin-top: 120px;
}
